/* line 13, ../sass/styles.scss */
* {
  box-sizing: border-box;
}

/* line 17, ../sass/styles.scss */
html, body {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: black;
  height: 100%;
  font-family: 'Open Sans';
}
