@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "font-awesome";

* {
	box-sizing: border-box;
}

$main: #D73E32;
$dark1: #410500;
$dark2: #954C46;
$light1: #FFA49D;
$light2: #FFEDEB;
$white: #FFFFFF;
$black: #000000;

$animation-duration: 0.2s;

@mixin animate() {
	@include transition-property(all);
	@include transition-duration($animation-duration);
	@include transition-timing-function(ease-in-out);
}

html, body {
	padding: 0;
	margin: 0;
	position: relative;
	background-color: $white;
	color: $black;
	height: 100%;
	font-family: 'Open Sans';
}

html {
	padding: 50px;
}

//
// Code Inspector
//

pixel-codeinspector {
	&.hidden {
		display: none;
	}
}

@mixin pixel-codeinspector-buttonstyle {
	color: $dark2;
	&:hover {
		color: $main;
	}
	@include animate();
}

@mixin pixel-codeinspector-tabstyle {
	color: $white;
	background-color: $dark1;
	&:hover {
		color: $white;
		background-color: $dark2;
	}
	&.polymer-selected {
		color: $white;
		background-color: $main;
	}
	@include animate();
}

// No native ShadowDOM
pixel-codeinspector *[pseudo=x-button] {
	@include pixel-codeinspector-buttonstyle;
}

pixel-codeinspector *[pseudo=x-tab] {
	@include pixel-codeinspector-tabstyle;
}

// Native ShadowDOM
pixel-codeinspector::x-button {
	@include pixel-codeinspector-buttonstyle;
}

pixel-codeinspector::x-tab {
	@include pixel-codeinspector-tabstyle;
}

//
// Sidebar
//

@mixin pixel-sidebar-containerstyle {
	$width: 256px;
	width: $width;
	background-color: $white;

	@include single-box-shadow($light1, -10px, 0px, 40px, 10px);

	@include animate();
	left: 0;
	&.hidden {
		left: -$width;
	}
}

@mixin pixel-sidebar-buttonstyle {
	box-sizing: content-box;
	padding: 5px;
	width: 32px;
	height: 32px;
	font-size: 32px;
	text-align: center;
	cursor: pointer;
	position: relative;


	@include animate();
	color: $light2;
	background-color: $main;
	&:hover {
		color: $dark1;
		background-color: $main;
	}
}

// No native ShadowDOM
pixel-sidebar *[pseudo=x-container] {
	@include pixel-sidebar-containerstyle;
}

pixel-sidebar *[pseudo=x-button] {
	@include pixel-sidebar-buttonstyle;
}

// Native ShadowDOM
pixel-sidebar::x-container {
	@include pixel-sidebar-containerstyle;
}

pixel-sidebar::x-button {
	@include pixel-sidebar-buttonstyle;
}

//
// Pixel
//

$pixel-border: 5px;
$pixel-button-size: 20px;

pixel-pixel {
	line-height: 256px;
	width: 256px;
	height: 256px;
	box-sizing: content-box;
	@include animate();
	border-width: $pixel-border;
	border-style: solid;
	border-color: transparentize($main, 1.0);
	margin-right: $pixel-button-size + 2*$pixel-border;
	&:hover {
		border-color: $main;
	}
}

@mixin pixel-pixel-buttonstyle {
	margin-top: -$pixel-border;
	box-sizing: content-box;
	padding: 5px;
	width: $pixel-button-size;
	height: $pixel-button-size;
	font-size: $pixel-button-size;
	line-height: $pixel-button-size;
	text-align: center;
	cursor: pointer;
	margin-bottom: $pixel-border;
	margin-left: $pixel-border;

	@include animate();
	color: $light2;
	background-color: $main;
	&:hover {
		color: $dark1;
		background-color: $main;
	}
}

// No native ShadowDOM
pixel-pixel *[pseudo=x-button] {
	@include pixel-pixel-buttonstyle;
}

// Native ShadowDOM
pixel-pixel::x-button {
	@include pixel-pixel-buttonstyle;
}
