@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "font-awesome";

* {
	box-sizing: border-box;
}

$dark1: #202D57;
$light1: #EFDDCB;
$light2: #FFF9EA;
$saturated1: #D8892C;
$saturated2: #BE7027;
$animation-duration: 0.2s;

html, body {
	padding: 50px;
	margin: 0;
	position: relative;
	background-color: $dark1;
	height: 100%;
	font-family: 'Open Sans';
}

//
// Code Inspector
//

pixel-codeinspector {
	&.hidden {
		display: none;
	}
}

@mixin pixel-codeinspector-buttonstyle {
	color: $saturated1;
	&:hover {
		color: $light1;
	}
}

@mixin pixel-codeinspector-tabstyle {
	color: $light1;
	background-color: $dark1;
	&:hover {
		color: $light1;
		background-color: $saturated2;
	}
	&.polymer-selected {
		color: $light1;
		background-color: $saturated1;
	}
}

// No native ShadowDOM
pixel-codeinspector *[part=button] {
	@include pixel-codeinspector-buttonstyle;
}

pixel-codeinspector *[part=tab] {
	@include pixel-codeinspector-tabstyle;
}

// Native ShadowDOM
pixel-codeinspector::part(button) {
	@include pixel-codeinspector-buttonstyle;
}

pixel-codeinspector::part(tab) {
	@include pixel-codeinspector-tabstyle;
}

//
// Sidebar
//

@mixin pixel-sidebar-containerstyle {
	$width: 256px;
	width: $width;
	left: 0;
	background-color: $saturated2;
	&.hidden {
		left: -$width;
	}
	@include single-transition(left, 0.4s, ease-in-out);
}

@mixin pixel-sidebar-buttonstyle {
	color: $light2;
	box-sizing: content-box;
	padding: 5px;
	width: 32px;
	height: 32px;
	font-size: 32px;
	text-align: center;
	cursor: pointer;

	@include single-transition(background-color, $animation-duration, ease-in-out);
	background-color: $saturated2;
	&:hover {
		background-color: $saturated1;
	}
}

// No native ShadowDOM
pixel-sidebar *[part=container] {
	@include pixel-sidebar-containerstyle;
}

pixel-sidebar *[part=button] {
	@include pixel-sidebar-buttonstyle;
}

// Native ShadowDOM
pixel-sidebar::part(container) {
	@include pixel-sidebar-containerstyle;
}

pixel-sidebar::part(button) {
	@include pixel-sidebar-buttonstyle;
}

//
// Pixel
//

$border: 5px;

pixel-pixel {
	margin: 20px;
	line-height: 256px;
	width: 256px;
	height: 256px;
	box-sizing: content-box;
	@include single-transition(border-color, $animation-duration, ease-in-out);
	border-width: $border;
	border-style: solid;
	border-color: transparentize($saturated2, 1.0);
	&:hover {
		border-color: $saturated2;
	}
}

@mixin pixel-pixel-buttonstyle {
	$size: 20px;
	$gap: 5px;
	margin-top: -$border;
	color: $light2;
	box-sizing: content-box;
	padding: 5px;
	width: $size;
	height: $size;
	font-size: $size;
	line-height: $size;
	text-align: center;
	cursor: pointer;
	margin-bottom: $gap;
	margin-left: $gap;

	@include transition-property(opacity, background-color);
	@include transition-duration($animation-duration);
	@include transition-timing-function(ease-in-out);
	background-color: $saturated2;
	&:hover {
		background-color: $saturated1;
	}
}

// No native ShadowDOM
pixel-pixel *[part=button] {
	@include pixel-pixel-buttonstyle;
}

// Native ShadowDOM
pixel-pixel::part(button) {
	@include pixel-pixel-buttonstyle;
}
