polymer-ui-tabs {
	margin-right: 100px;
	margin-bottom: 10px;
}

div.icon {
    height: 32px;
    width: 32px;
    position: relative;
    margin: 15px;
    overflow: hidden;
    display: inline-block;
}

div.icon > div {
    font-size: 32px;
}

div.icon {
	position: absolute;
	cursor: pointer;
	top: 0;
}

#close {
	right: 0;
}

#reload{
	right: 60px;
}
