:host > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

:host .background {
    background-color: black;
    opacity: 0.8;
    z-index: 100;
}

:host .dialog {
    position: relative;
    padding: 50px;
    opacity: 1.0;
    z-index: 200;
}

polymer-ui-tabs {
	margin-right: 100px;
	margin-bottom: 10px;
}

div.icon {
    height: 32px;
    width: 32px;
    position: relative;
    margin: 15px;
    overflow: hidden;
    display: inline-block;
}

div.icon > div {
    font-size: 32px;
}

div.icon {
	position: absolute;
	cursor: pointer;
	top: 0px;
}

#close {
	right: 0;
}

#reload{
	right: 60px;
}
